@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-slate-grey: hsl(234, 29%, 20%);
  --clr-charcoal-grey: hsl(235, 18%, 26%);
  --clr-grey: hsl(231, 7%, 60%);
  --clr-tomato: hsl(4, 100%, 67%);
  --clr-tomato-op: hsla(4, 100%, 67%, 0.144);
  
  --clr-green: hsl(119, 100%, 67%);
  --clr-green-op: hsla(118, 100%, 67%, 0.144);

  --ff-html: "Roboto", sans-serif;

  --fs-100: .4em;
  --fs-150: .5em;
  --fs-200: .6em;
  --fs-250: .7em;
  --fs-300: .8em;
  --fs-350: .9em;
  --fs-400: 1em;
  --fs-450: 1.2em;
  --fs-500: 1.4em;
  --fs-550: 1.6em;
  --fs-600: 1.8em;
  --fs-650: 2em;
  --fs-700: 2.2em;
  --fs-750: 2.4em;
  --fs-800: 2.6em;
  --fs-850: 2.8em;
  --fs-900: 3.3em;

  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

h1, h2, h3 {
  line-height: 1.1;
}

html {
  font-family: var(--ff-html);
  font-size: 16px;
  color: var(--clr-slate-grey);
  line-height: 1.5;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Contents */
.sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100dvh;
  background-color: var(--clr-charcoal-grey);

  position: relative;
}

.sign-up-wrapper {
  padding: 1.2em;
  --custom-width: 57em;

  display: flex;
  background-color: var(--clr-neutral-100);
  border-radius: 30px;
  box-shadow: 0px 0px 40px var(--clr-slate-grey);
  z-index: 10;
}

.col1 {
  padding: 2.8em;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.features h1 {
  font-size: var(--fs-900);
  font-weight: var(--fw-bold);
}

.features-list li {
  display: flex;
  gap: 1em;
}

.col2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.col2 img {
  height: 575px;
}

.form-wrapper {
  width: 100%;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

@media (max-width: 900px) {
  .sign-up-wrapper {
    overflow: auto;
    flex-direction: column-reverse;
    position: absolute;
    min-height: 100dvh;
    min-width: 100%;
    border-radius: 0px;
    padding: 0em!important;
  }
  .features h1 {
    font-size: var(--fs-800);
  }
  .col2 {
    padding: 0em!important;
    background-image: url("public/illustration-sign-up-mobile.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .col2 img {
    opacity: 0;
  }
}

input:where([type="email"]) {
  padding: 1.2em;
  border: 1px solid var(--clr-grey);
  border-radius: 8px;
  width: 100%;
}

input:where([type="email"]):focus {
  border: 1px solid black;
  outline: 0;
}

.email-label-wrapper {
  display: flex;
  font-size: var(--fs-300);
  font-weight: var(--fw-bold);
}

.email-label-wrapper :first-child {
  margin-right: auto;
}

#email-error {
  color: var(--clr-tomato)
}

.sign-up-success-wrapper {
  display: none;
}

/* Success */
.sign-up-success-wrapper {
  flex-direction: column;
  gap: 2em;
  background-color: var(--clr-neutral-100);
  border-radius: 30px;
  padding: 3em;
}
.sign-up-success-wrapper h1 {
  font-size: var(--fs-900);
}

@media(max-width: 900px) {
  .sign-up-success-wrapper {
    position: absolute;
    justify-content: center;
    min-height: 100dvh;
    min-width: 100%;
    border-radius: 0px;
  }
  .sign-up-success-wrapper button {
    margin-top: auto;
  }
}

/* Utility classes */
.container {
  --max-width: var(--custom-width, 58em);
  --max-height: 100dvh;
  --padding: 1rem;

  max-height: min(var(--max-height), 100% - (var(--padding) * 2));
  max-width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
  overflow: auto;
  scrollbar-width: none;
}

.flow > * + * {
  margin-top: var(--flow-space, .9em);
}

button {
  cursor: pointer;
  border: 0;
  padding: 1.2em;
  border-radius: 8px;
  background-color: var(--clr-slate-grey);
  color: var(--clr-neutral-100);
  font-size: var(--fs-350);
  font-weight: var(--fw-bold);
}

button:hover {
  background: linear-gradient(90deg, rgba(254,82,120,1) 0%, rgba(255,105,62,1) 100%);
  box-shadow: 0px 10px 20px rgba(255,105,62,.6);
}
